header {
  background-color: #2560eb;
  margin: 2px 2px;
  padding: 2px 2px;
}
.left {
  display: inline-block;
  position: absolute;
  left: 42px;
  top: 10px;
}
.left img {
  width: 78px;
  height: 48px;
  filter: invert();
}
.left div {
  text-align: center;
}
.mid {
  text-align: center;
  display: block;
  width: 100%;
  margin: 20px auto; /*  auto for centering the element */
}
.right {
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 30px;
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 20px;
}
.navbar li a {
  color: white;
  text-decoration: none; /*  for removing underline in anchor tag */
  padding: 30px 20px;
}
.navbar li a:hover,
.navbar li a.active {
  /*under line when hover*/
  text-decoration: underline;
  color: rgb(8, 0, 0);
}
.btn {
  margin: 3px 11px;
  background-color: rgba(96, 14, 14, 0.233);
  padding: 10px 10px;
  border: 2px solid blue;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  height: 14px;
  width: 55px;
}
::placeholder {
  color: white;
}
.container {

  position: relative;
  margin: 100px 0px;
  padding: 20px 30px;
  width: 40%;
  height: 700px;
  color: rgba(233, 230, 230, 0.723);
}
.container img {
  border-radius: 10px;
  display: block;
  margin-left: 40px;
  width: 471px;
  height: 321px;
  align-items: center;
  opacity: 1;
}
p {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.container2 {
 
  margin-left: 50px;

  width: 33%;
  font-size: 40px;
}
.container2 ::placeholder {
  color: black;
}
.overlay {
  display: block;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 70px;
  right: 0;
  width: 471px;
  height: 321px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}